body {
    background-color: black;
}
.header, #buttons-list, #tv-shows-form {

}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    font-weight: bolder;
    font-size: 50px;
    font-family: serif;
    /* background-color: cadetblue; */
    text-shadow: 3px 5px 5px white;
    font-family: 'Cinzel', serif;
    margin-left: -15px;
    margin-right: -15px;
    -webkit-text-stroke: .01px white;
}

#buttons-list {
    /* background-color: chocolate; */
    padding-top: 30px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: space-around;
    /* justify-content: space-between; */
    margin-bottom: -16px;
    margin-left: -15px;
    margin-right: -15px;
}

#tv-shows-form {
    /* background-color: darkblue; */
    padding-top: 20px;
    padding-bottom: 20px;
    /* margin-top: 0; */
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -15px;
    margin-left: -15px;
    margin-right: -15px;
    color:honeydew;
    /* display: block; */
}

#label {
    margin-right: 20px;
    text-shadow: 3px 5px 3px white;
}

#add-tvShow {
    font-size: 20px;
    box-shadow: 5px 7px #888888;
    margin-left: 20px;
}

.tvShow {
    display: flex;
    margin-bottom: 15px;
    padding: 10px;
    border: 3px solid black;
    border-radius: 12px;
    box-shadow: 2px 5px 6px yellow;
    font-family: 'Cinzel', serif;
    font-weight: 600;
    margin-left: 20px;
    margin-right: 20px;
}



#tvShow-expo {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    color: honeydew;
    border: white 5px ridge;
}